html, body {
	font-family: arial, sans-serif;
	font-size: small;
	line-height: 1.2em;
	margin: 0;
	padding: 0;																	
}
h1, h2
{
	font-size: 1em;
}			
dl, dt, dd, ul, ol, li {
  list-style: none;
	margin: 0;
	padding: 0;
}    
dt { 
	overflow: hidden;					
	cursor: hand; cursor: pointer;
	padding-top: 0.4em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em; 
}

a {
	text-decoration: none;
	color: #003C7D;
}
a:hover
{
	color: #0099FF;
}		
a:hover i
{
	-webkit-filter: hue-rotate(150deg);
	filter: hue-rotate(150deg);
}

[type=text] {
	border: 1px solid #e1e1e1
}
#content {
	overflow: hidden;	
}

.horizontal {
overflow: auto;
padding-bottom: 0.5em;
}
.horizontal li {
	margin-right: 1em;
	display: inline;
	margin-bottom: 0.5em;				
}
label{
	display: block;
	font-size: 0.7em;			
}
input{
	
}
		
.not-important
{
	font-size: 0.8em;
	color: grey;
}		

.popup	{			
	background-color: #fff;
	border: 1px solid #e1e1e1;
	padding: 0.5em;
	padding-right: 1em;
	padding-bottom: 0.5em;		
	position: absolute;
	z-index:10;
	box-shadow: 2px 2px 10px #e1e1e1;											
}

.author {			
	text-align: right;
	display:block;
	color: grey;
}	
	
.navigation {
	padding: 0.5em;
	float: left;
	max-width: 13em;
}

.navigation li {
	display: block;
	clear: both;
	/*margin-bottom: 0.5em*/;					
}
.navigation a {
	float: left;
	padding-top: 0.4em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}			

.nav-section {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 1em;			
	overflow: auto;
}

.active-modal{	
	color: grey;
	
}
.active-modal i
{
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}

.active {			
	color: #fff;
	background-color: #0099FF;
}
.active .not-important{
	color: #fff;
}
.active i ,
	-webkit-filter: invert(100%);
}
	
.header h2 {		
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: inline;						
}	

.item .header {			
	margin-top: 0;
	margin-bottom: 0;	
	float: none;
	overflow: hidden;			
	text-overflow: ellipsis;
   white-space: nowrap;
   width: auto;           
}
.header h2{
	display: inline;
}

.item .side {	
	float: right;	
}

.item a {
	text-decoration: none;
	color: black;	
}

.item  {		
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;			 
	border-right: 1px solid #e1e1e1;			 
}

.summary {			
	color: grey;
	display: inline;
} 

.description {			
	line-height: 1.5;			
	padding: 1em 1.5em 1em 1.5em;
	display: block;						
}
.read {
	font-weight: normal;
	background-color: #F0F0F0;
	color: grey;
}

.read h2 {
	font-weight: normal;			
}	
	
.link { 
	position:relative;
	margin-left: 0.5em;
}		

.nav-dropdown {
	display: inline;
}

.dropdown {
	display: none;
}
.page-link
{
	float: right;
	text-transform: uppercase;
	font-size: 1em;
	margin: 0.5em;
}

i
{			
	background-repeat: no-repeat;
	*margin-right: 0.3em;			
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	text-decoration: inherit;
	display: inline-block;
	vertical-align: -20%;
	speak: none;			
}		
.icon-star	{
	background-image: url('/static/star.svg');
}

.icon-star-empty {
	background-image: url('/static/star-empty.svg');
}

.icon-plus {
	background-image: url('/static/plus.svg');
}

.icon-folder {
	background-image: url('/static/folder.svg');
}

.icon-feed	{
	background-image: url('/static/feed.svg');
}

.icon-external {
	background-image: url('/static/external.svg');
}

.icon-cross		{
	background-image: url('/static/cross.svg');
}

.icon-caret-down {
	background-image: url('/static/caret-down.svg');
}

.icon-arrow-circle {
	background-image: url('/static/arrow-circle.svg');
}

.icon-pen {
	background-image: url('/static/pen.svg');
}

@media all and (max-device-width: 40em),
all and (max-width: 40em) {
	.navigation {
		float: none;
		border-bottom: 1px solid #e1e1e1;
		max-width: none;												
	}
	
}
						
@media all and (-webkit-min-device-pixel-ratio: 1.3),
screen and (min-resolution: 1.3dppx) {
	html, body {
		font-size: 130%;				
	}
	
	i
	{								
		width: 42px;
		height: 42px;
		background-size: 42px 42px;								
	}
}

@media all and (-webkit-min-device-pixel-ratio: 1.5), 
screen and (min-resolution: 1.5dppx) {			
	html, body {
		font-size: 150%;				
	}
	i
	{								
		width: 48px;
		height: 48px;
		background-size: 48px 48px;								
	}
}

@media all and (-webkit-min-device-pixel-ratio: 2), 
screen and (min-resolution: 2.0dppx) {
	html, body  {
		font-size: 200%;								
	}   
	i
	{								
		width: 64px;
		height: 64px;
		background-size: 64px 64px;								
	}
}	
