		body {
			font-family: sans-serif;
			font-size: 0.8em;
			line-height: 1.2em;
			margin: 0;
			padding: 0;
			max-width: 800px;								
		}			
				
		dl, dt, dd, ul, li {
          list-style: none;
			margin: 0;
			padding: 0;
		}    
        dt { 
			overflow: hidden;					
			cursor: hand; cursor: pointer;
			padding-top: 0.4em;
			padding-bottom: 0.5em;
			padding-left: 0.5em;
			padding-right: 0.5em; 
		}
		a
		{
			text-decoration: none;
			color: #003C7D;
		}
		#content {
			overflow: hidden;	
		}
		
		#modal	{
			margin-left: 1em;
			font-size: 1em;
			margin-bottom: 1em;			
			width: 50%;
			background-color: #fff;
			border: 1px solid grey;
			padding: 1em;
			position: absolute;
			z-index:10;											
		}
		#subscribe-link
		{
			background-image: url('/static/feed--plus.png');
			background-repeat: no-repeat;
			padding-left: 20px;	
		}		
		#all {
			background-image: url('/static/box.png');
			background-repeat: no-repeat;
			padding-left: 20px;		
		}
			
		#starred
		{
			background-image: url('/static/star.png');
			background-repeat: no-repeat;
			padding-left: 20px;
		}
		.author
		{			
			text-align: right;
			display:block;
			color: grey;
		}
		.delete
		{
			background-image: url('/static/cross-small.png');
			background-repeat: no-repeat;
			padding-left: 20px;
		}
		.navigation
		{
			padding: 1em;
			
		}
		@media only screen and (max-width: 480px)
		{
			.navigation
			{
				float: none;
				border-bottom: 1px solid #e1e1e1;				
			}
		}
		@media only screen and (min-width: 480px) {		
			.navigation {								
				float: left;								
			}
		}
		.navigation li
		{
			display: block;
			margin-bottom: 0.5em;
		}		
		.nav-link
		{
			background-image: url('/static/feed.png');
			background-repeat: no-repeat;
			padding-left: 20px;					
		}
		.filters, .actions
		{
			border-bottom: 1px solid #e1e1e1;
			margin-bottom: 1em;
		}
		.active
       {			
			color: #000;
		}
		.url
		{
			width: 100%;
		}			
		.item .header {			
			margin-top: 0;
			margin-bottom: 0;
			
		}		
		.item .header {		
			float: none;
			overflow: hidden;			
            text-overflow: ellipsis;
           white-space: nowrap;
           width: auto;           
		}
		.item .side
		{	
			float: right;			
			direction:rtl;							
		}
		.accordion a
		{
			text-decoration: none;
			color: black;	
		}
		.item
		{		
			border-bottom: 1px solid #e1e1e1;
			border-left: 1px solid #e1e1e1;			 
			border-right: 1px solid #e1e1e1;			 
		}
		.title 
		{				
			font-size: 100%;
			margin: 0;
			padding: 0;
			font-weight: bold;
			display: inline;						
		}
		.summary
		{			
			color: grey;
			display: inline;
        } 
        .description
       {			
			line-height: 1.5;			
			padding: 1em 1.5em 1em 1.5em;
			display: block;						
		}
		.read
		{
			font-weight: normal;
			background-color: #F0F0F0;
			color: grey;
		}
		.read h2
		{
			font-weight: normal;			
		}		
		.link { 
			position:relative;
			padding-left: 20px;
			margin-left: 0.5em;			
			background-image: url('/static/external.png');
			background-repeat: no-repeat;
		}
		
		.starred{
			padding-left: 20px;
			background-image: url('/static/star.png');
			background-repeat: no-repeat;			
		}	
		.un-starred {
			padding-left: 20px;		 
			background-image: url('/static/star-empty.png');
			background-repeat: no-repeat;
		}
		.unread-count
		{
			color: grey;
			font-size: 0.8em;
		}
		.update {
			padding-left: 20px;		 
			background-image: url('/static/arrow-circle.png');
			background-repeat: no-repeat;
		}
		
